$red: #d43c33;
$res-a: rgba(225,68,57,.5);
$text-color: #323233;
$white: #fbfcfd;
$white-l: rgba(255, 255, 255, 1);
$color-background: #F2F3F4;

$font-size-mini:10px;
$font-size-small:12px;
$font-size-normal:14px;
$font-size-medium:16px;
$font-size-large:18px;
$font-size-huge:20px;
